﻿
@{
    ViewData["Title"] = "View_Login";
}
@model Portal.UI.Models.Login.UserLoginModel
<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <form role="form" asp-action="Login" asp-controller="Home" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="__RequestVerificationToken" type="hidden">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

