﻿@using Microsoft.AspNetCore.Identity
@using Portal.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html class="fixed">
<head>
    <meta charset="UTF-8">

    <title>Nirvana Travel and Tourism LLC</title>
    <meta name="keywords" content="Nirvana Travel and Tourism" />
    <meta name="description" content="Nirvana Travel and Tourism">
    <meta name="author" content="JSOFT.net">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/morris/morris.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropzone/css/dropzone.css" />
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.Identity.IsAuthenticated)
        {
            <section class="body">


                <header class="header">
                    <div class="logo-container">
                        <a href="../" class="logo">
                            <img src="~/Images/logo.png" height="35" alt="JSOFT Admin" />
                        </a>
                        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>

                    <!-- start: search & user box -->
                    <div class="header-right">

                        <form action="pages-search-results.html" class="search nav-form">
                            <div class="input-group input-search">
                                <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                        <div id="userbox" class="userbox">
                            <a href="#" data-toggle="dropdown">
                                <figure class="profile-picture">
                                    <img src="~/Images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                                </figure>

                                <div class="profile-info">
                                    <span class="name">@UserManager.GetUserAsync(User).Result.fullname</span>
                                    @*<span class="role"></span>*@
                                </div>

                                <i class="fa custom-caret"></i>
                            </a>

                            <div class="dropdown-menu">
                                <ul class="list-unstyled">
                                    <li class="divider"></li>
                                    <li>
                                        <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> My Profile</a>
                                    </li>
                                    <li>
                                        <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end: search & user box -->
                </header>
                <!-- end: header -->

                <div class="inner-wrapper">
                    <!-- start: sidebar -->
                    <aside id="sidebar-left" class="sidebar-left">

                        <div class="sidebar-header">
                            <div class="sidebar-title">
                            </div>
                            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                            </div>
                        </div>

                        <div class="nano">
                            <div class="nano-content">
                                <nav id="menu" class="nav-main" role="navigation">
                                    <ul class="nav nav-main">
                                        <li class="nav-active">
                                            <a href='@Url.Action("Index", "Home")'>
                                                <i class="fa fa-home" aria-hidden="true">                                                   
                                                </i>
                                                <span>Home</span>
                                            </a>
                                        </li>

                                        @if (User.IsInRole("GhqNtt"))
                                        {
                                            <li class="nav-parent">
                                                <a>
                                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                                    <span>GHQ Accounts</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a href='@Url.Action("GhqDashboard", "GhqNtt")'>
                                                            DashBoard
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("LpoLoad", "GhqNtt")'>
                                                            Upload LPO
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("StaffveriLoad", "GhqNtt")'>
                                                            Invoice Verification
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("GhqInvoicesLoad", "GhqNtt")'>
                                                            GHQ Verification
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ApprovedListLoad", "GhqNtt")'>
                                                            Approved Invoices
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("SoaLoad", "GhqNtt")'>
                                                            Statement of Accounts
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ReportLoad", "GhqNtt")'>
                                                            Invoice Detail Report
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (User.IsInRole("GhqUser"))
                                        {
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-copy" aria-hidden="true"></i>
                                            <span>GHQ Accounts</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href='@Url.Action("GhqDashboard", "GhqNtt")'>
                                                    DashBoard
                                                </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("LpoLoad", "GhqNtt")'>
                                                    Upload LPO
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <a href='@Url.Action("GhqInvoicesLoad", "GhqNtt")'>
                                                    GHQ Verification
                                                </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("ApprovedListLoad", "GhqNtt")'>
                                                    Approved Invoices
                                                </a>
                                            </li>                                                                                        
                                        </ul>
                                    </li>
                                        }
                                        @if (User.IsInRole("NyuNtt"))
                                        {
                                            <li class="nav-parent">
                                                <a>
                                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                                    <span>NYU Billing Team</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a href='@Url.Action("StaffveriLoad", "Nyu")'>
                                                            Invoice Verification
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("OpenInvoicesLoad", "Nyu")'>
                                                            Open Invoices
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ArchievesInvoicesLoad", "Nyu")'>
                                                            Archieve Invoices
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("SoaLoad", "Nyu")'>
                                                            Statement of Accounts
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (User.IsInRole("NyuUser"))
                                        {
                                            <li class="nav-parent">
                                                <a>
                                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                                    <span>NYU Accounts</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a href='@Url.Action("OpenInvoicesLoad", "Nyu")'>
                                                            Open Invoices
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ArchievesInvoicesLoad", "Nyu")'>
                                                            Archieve Invoices
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("SoaLoad", "Nyu")'>
                                                            Statement of Accounts
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (User.IsInRole("CorporateNtt"))
                                        {
                                            <li class="nav-parent">
                                                <a>
                                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                    <span>Nirvana Credit</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a href='@Url.Action("CorporateLoad", "Corporate")'>
                                                            Corporate List
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("StaffveriLoad", "Corporate")'>
                                                            Verify Invoice
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("InvoicesLoad", "Corporate")'>
                                                            Invoice History
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("SoaLoad", "Corporate")'>
                                                            SOA
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (User.IsInRole("CorporateUser"))
                                        {
                                            <li class="nav-parent">
                                                <a>
                                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                    <span>Corporate</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a href='@Url.Action("InvoicesLoad", "CorporateCompany")'>
                                                            Invoice List
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("SoaLoad", "CorporateCompany")'>
                                                            Statement of Accounts
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        <li class="nav-parent">
                                            <a>
                                                <i class="fa fa-table" aria-hidden="true"></i>
                                                <span>Settings</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li>
                                                    <a href="tables-basic.html">
                                                        Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tables-advanced.html">
                                                        Register Query
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </aside>
                    <section role="main" class="content-body">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </section>
                </div>


            </section>
        }

    }

    }
    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/assets/vendor/select2/select2.js"></script>
    <script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/raphael/raphael.js"></script>
    <script src="~/assets/vendor/morris/morris.js"></script>
    <script src="~/assets/vendor/gauge/gauge.js"></script>
    <script src="~/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>





    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>


</body>
</html>