﻿@model Portal.UI.Models.Nyu.nyuinvoicemodal
@{
    ViewData["Title"] = "View_VerifiedInvoiceDetails";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}
<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>Invoice Details</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Lpo#</label>
                                <input type="text" asp-for="lpono" class="form-control" readonly="readonly">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice#</label>
                                <input type="text" asp-for="invoiceno" class="form-control" readonly="readonly">
                                <input type="hidden" asp-for="id" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice Date</label>
                                <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Travel Code</label>
                                <input type="text" asp-for="travelcode" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Authorizer Code</label>
                                <input type="text" asp-for="authcode" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Nyu/VerifiedInvoiceDetails.js"></script>


