﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<link href="~/css/Custom.css" rel="stylesheet" />
<div id="modalinv" class="modal-block modal-block-sm mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Invoice Details</h2>
        </header>
        <div class="panel-body">
            <form id="Details-form" class="form-horizontal mb-lg" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">LPO No</label>
                            <input type="text" name="lpono" id="lpono" class="form-control" required />
                            <input type="hidden" name="Id" id="Id" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Invoice No</label>
                            <input type="text" name="invno" id="invno" class="form-control" required disabled="disabled" />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Travel Code</label>
                            <input type="text" name="travelcode" id="travelcode" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Authorized By</label>
                            <input type="text" name="authcode" id="authcode" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Invoice Date</label>
                            <input type="text" id="invdate" data-plugin-datepicker="" data-date-format="dd-M-yyyy" class="form-control" autocomplete="off">
                        </div>
                        <input name="__RequestVerificationToken" type="hidden">
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="btnDetails">Update</button>
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<div id="modaldocs" class="modal-block modal-block-sm mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Attachments</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="list-infordocs" class="table table-bordered table-hover mb-none">
                </table>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<header class="page-header">
    <h2>Invoice Verification</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="right">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Lpo#</label>
                                <input type="text" id="serlpono" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Invoice#</label>
                                <input type="text" id="serinvoiceno" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice From Date</label>
                                <input type="text" id="serinvfromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice To Date</label>
                                <input type="text" id="serinvtodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice Status</label>
                                <select data-plugin-selectTwo class="form-control populate" id="serinvstatus">
                                    <option value="0">Select All</option>
                                    <option value="1">Not Verified</option>
                                    <option value="2">Verified</option>
                                    <option value="3"> In Active</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-StaffveriLoad" class="table table-bordered table-hover mb-none">
                        </table>
                        <div class="panel-body">
                            <div class="row datatables-footer" id="list-StaffveriLoad-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Nyu/StaffveriLoad.js"></script>
