﻿@model Portal.UI.Models.Nyu.nyuinvoicemodal
@{
    ViewData["Title"] = "View_VerifiedInvoiceDetails";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}
<link href="~/css/Custom.css" rel="stylesheet" />
@if (ViewBag.Section != null)
{
    <input type="hidden" value="Success" id="SuccessData" />
}
else
{
    <input type="hidden" value="First" id="SuccessData" />
}
<div id="modalForm" class="modal-block modal-block-full mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Invoice Details</h2>
        </header>
        <div class="panel-body">
            <form id="Details-form" class="form-horizontal mb-lg" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Service Type</label>
                            <input type="text" name="servicetype" id="servicetype" class="form-control" required autocomplete="off" />
                            <input type="hidden" name="DetailsId" id="detailsId" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Voucher#</label>
                            <input type="text" name="bookno" id="bookno" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Guest/Passenger</label>
                            <input type="text" name="pax" id="pax" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Service From</label>
                            <input type="text" id="fromdate" data-plugin-datepicker="" data-date-format="dd-M-yyyy" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Service To</label>
                            <input type="text" id="todate" data-plugin-datepicker="" data-date-format="dd-M-yyyy" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Service Provider</label>
                            <input type="text" name="provider" id="provider" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Route/City</label>
                            <input type="text" name="route" id="route" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Fare</label>
                            <input type="text" name="fare" id="fare" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tax</label>
                            <input type="text" name="tax" id="tax" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Vat</label>
                            <input type="text" name="vat" id="vat" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Requester</label>
                            <input type="text" name="authcode" id="authcode" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Account</label>
                            <input type="text" name="account" id="account" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fund</label>
                            <input type="text" name="fund" id="fund" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Org</label>
                            <input type="text" name="org" id="org" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Project</label>
                            <input type="text" name="project" id="project" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Program</label>
                            <input type="text" name="program" id="program" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Status</label><br />
                            <div class="switch switch-primary">
                                <input type="checkbox" name="status" id="status" data-plugin-ios-switch checked />
                            </div>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden">
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="btnDetails">Update</button>
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<header class="page-header">
    <h2>Invoice Details</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <form role="form" asp-action="ApproveInvoice" asp-controller="Nyu" method="post" asp-antiforgery="true">
                           
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Lpo#</label>
                                    <input type="text" asp-for="lpono" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice#</label>
                                    <input type="text" asp-for="invoiceno" class="form-control" readonly="readonly">
                                    <input type="hidden" asp-for="id" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice Date</label>
                                    <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Travel Code</label>
                                    <input type="text" asp-for="travelcode" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Authorizer Code</label>
                                    <input type="text" asp-for="authcode" class="form-control" readonly="readonly">
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnapprove">
                                        Approve
                                    </button>
                                    <input name="__RequestVerificationToken" type="hidden">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnadd">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Nyu/InvoiceDetails.js"></script>


