﻿.content-body {
    padding-top: 10px;
    position: relative;    
}

.panel {
    margin-bottom: 0px;
}
.separator {
    margin: 4px 4px 0;
}
.table-responsive {
    overflow-x: inherit;
    min-height: 0.01%;
}
.pagination {
    float: right;
    display: inline-block;
    padding-left: 0;
    margin: 0px;
    border-radius: 4px;
}
.mb-lg {
    margin: 25px !important;
}
.threepercentage {
    width: 3% !important;
}
.fourpercentage {
    width: 4% !important;
}
.fivepercentage {
    width: 5% !important;
}
.sixpercentage {
    width: 6% !important;
}
.sevenpercentage {
    width: 7% !important;
}
.tenpercentage {
    width: 10% !important;
}
.fifteenpercentage {
    width: 15% !important;
}
.twentypercentage {
    width: 20% !important;
}
.twentyfivepercentage {
    width: 25% !important;
}
.thirtypercentage {
    width: 30% !important;
}
.forteenpercentage {
    width: 14% !important;
}
body {
    overflow-y: scroll !important;
}
.select2-drop-active {
    z-index: 9999999 !important
}
.select2-drop-active, .datepicker {
    z-index: 9999999 !important
}
.fa {
    padding:2px !important
}
.right {
    float:right !important
}
.d-flex{
    display: flex;
}


.ml-custom:not(:last-child){
    margin-right: 15px;
}
.form-group.ml-custom {
    max-width: 150px;
}
.ml-custom .select2-container.form-control {
     min-width: 150px;
}
.total {
    font-size: 15px;
}
.attached{
    color:red;
}