﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>GHQ Invoice Verification</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="right">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> Search</button>                
            </div>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="d-flex">
                        <div class="form-group ml-custom">
                            <label class="control-label">Lpo#</label>
                            <input type="text" id="serlpono" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">Invoice#</label>
                            <input type="text" id="serinvoiceno" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">Lpo From Date</label>
                            <input type="text" id="serlpofromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">Lpo To Date</label>
                            <input type="text" id="serlpotodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">Inv From Date</label>
                            <input type="text" id="serinvfromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">In To Date</label>
                            <input type="text" id="serinvtodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                        </div>
                        <div class="form-group ml-custom">
                            <label class="control-label">Lpo Purpose</label>
                            <select data-plugin-selectTwo class="form-control populate" id="serpurpose">
                                <option>All</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoicesLoad" class="table table-bordered table-hover mb-none">
                        </table>
                        <div class="panel-body">
                            <div class="row datatables-footer" id="list-InvoicesLoad-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/GhqNtt/OpenInvoicesLoad.js"></script>
