﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>LPO Uploaded List</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="right">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnUpload"><i class="fa fa-upload"></i> Upload</button>
            </div>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Lpo#</label>
                                <input type="text" id="serlpono" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Lpo Date From</label>
                                <input type="text" id="lpofromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Lpo Date To</label>
                                <input type="text" id="lpotodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Upload Date From</label>
                                <input type="text" id="serfromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Upload Date To</label>
                                <input type="text" id="sertodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-UploadList" class="table table-bordered table-hover mb-none">
                        </table>
                        <div class="panel-body">
                            <div class="row datatables-footer" id="list-UploadList-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/GhqNtt/UploadList.js"></script>
