﻿@model Portal.UI.Models.Ghq.ghqinvoicemodal
@{
    ViewData["Title"] = "View_VerifiedInvoiceDetails";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}
@if (ViewBag.Section != null)
{
    <input type="hidden" value="Success" id="SuccessData" />
}
else
{
    <input type="hidden" value="First" id="SuccessData" />
}
<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>Invoice Details</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <form role="form" asp-action="GhqApproveInvoice" asp-controller="GhqNtt" method="post" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Lpo#</label>
                                    <input type="text" asp-for="lpono" class="form-control" id="lpono" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Lpo Date</label>
                                    <input type="text" asp-for="lpodate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice#</label>
                                    <input type="text" asp-for="invoiceno" class="form-control" id="invno" readonly="readonly">
                                    <input type="hidden" asp-for="id" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice Date</label>
                                    <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnExport"> Download</button>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fa fa-check"></i> Approve</button>*@
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnapprove">
                                        Approve
                                    </button>
                                    <input name="__RequestVerificationToken" type="hidden">
                                </div>
                            </div>
                            @*<div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnadd" style="width: 75px;">
                                        Add
                                    </button>
                                </div>
                            </div>*@
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger" id="btnreject"  style="width: 75px;">Reject</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<hr class="separator" />
<div class="row">
    <h4>Excess Bag Details</h4>
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-ExcessInvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/GhqNtt/InvoiceDetailsVerified.js"></script>


