﻿@model Portal.UI.Models.Ghq.ghqinvoicemodal
@{
    ViewData["Title"] = "View_VerifiedInvoiceDetails";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}
@if (ViewBag.Section != null)
{
    <input type="hidden" value="Success" id="SuccessData" />
}
else
{
    <input type="hidden" value="First" id="SuccessData" />
}
<link href="~/css/Custom.css" rel="stylesheet" />
<div id="modalForm" class="modal-block modal-block-full mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Invoice Details</h2>
        </header>
        <div class="panel-body">
            <form id="Details-form" class="form-horizontal mb-lg" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="control-label">Code</label>
                            <input type="text" name="Code" id="Code" class="form-control" required />
                            <input type="hidden" name="DetailsId" id="DetailsId" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Ticket</label>
                            <input type="text" name="Ticket" id="Ticket" class="form-control" required />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Class</label>
                            <input type="text" name="Class" id="Class" class="form-control" required />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Refno</label>
                            <input type="text" name="Refno" id="Refno" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Passenger</label>
                            <input type="text" name="Passenger" id="Passenger" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Route</label>
                            <input type="text" name="Route" id="Route" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Fare</label>
                            <input type="text" name="Fare" id="Fare" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">YQ</label>
                            <input type="text" name="YQ" id="YQ" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tax</label>
                            <input type="text" name="Tax" id="Tax" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">SC</label>
                            <input type="text" name="SC" id="SC" class="form-control" required />
                        </div>
                        <input name="__RequestVerificationToken" type="hidden">
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="btnDetails">Update</button>
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<div id="modalFormAdd" class="modal-block modal-block-full mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Invoice Details</h2>
        </header>
        <div class="panel-body">
            <form id="Details-form" class="form-horizontal mb-lg" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="control-label">Code</label>
                            <input type="text" name="Code" id="add_Code" class="form-control" required />
                            <input type="hidden" name="DetailsId" id="DetailsId" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Ticket</label>
                            <input type="text" name="Ticket" id="add_Ticket" class="form-control" required />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Class</label>
                            <input type="text" name="Class" id="add_Class" class="form-control" required />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Refno</label>
                            <input type="text" name="Refno" id="add_Refno" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Passenger</label>
                            <input type="text" name="Passenger" id="add_Passenger" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Route</label>
                            <input type="text" name="Route" id="add_Route" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Fare</label>
                            <input type="text" name="Fare" id="add_Fare" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">YQ</label>
                            <input type="text" name="YQ" id="add_YQ" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tax</label>
                            <input type="text" name="Tax" id="add_Tax" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">SC</label>
                            <input type="text" name="SC" id="add_SC" class="form-control" required />
                        </div>
                        <input name="__RequestVerificationToken" type="hidden">
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="addinvoicedetails">Add</button>
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<header class="page-header">
    <h2>Invoice Details</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">

                        <form role="form" asp-action="ApproveInvoice" asp-controller="GhqNtt" method="post" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Lpo#</label>
                                    <input type="text" asp-for="lpono" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Lpo Date</label>
                                    <input type="text" asp-for="lpodate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice#</label>
                                    <input type="text" asp-for="invoiceno" class="form-control" id="invno" readonly="readonly">
                                    <input type="hidden" asp-for="id" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice Date</label>
                                    <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fa fa-check"></i> Approve</button>*@
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnapprove">
                                       Approve
                                    </button>
                                    <input name="__RequestVerificationToken" type="hidden">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnadd" style="width: 75px;">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <br />
                                <div>
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger" id="btnreject"><i class="fa fa-trash-o"></i> Reject</button>
                                </div>
                            </div>
                            @*<div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Total Invoice Fare</label>
                                    <input type="text" asp-for="lpono" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Total Invoice YQ</label>
                                    <input type="text" asp-for="lpodate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Total Invoice Tax</label>
                                    <input type="text" asp-for="invoiceno" class="form-control" readonly="readonly">
                                    <input type="hidden" asp-for="id" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Total Service Fee</label>
                                    <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Invoice Total</label>
                                    <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                                </div>
                            </div>*@
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<hr class="separator" />

<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                       
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <h4>Excess Bag Details</h4>
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-Excess-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>

                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/GhqNtt/InvoiceDetails.js"></script>


