﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>LPO Uploaded List</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <form name="Upload_form" role="form" asp-action="UploadFile" asp-controller="GhqNtt" method="post" enctype="multipart/form-data" >
                <div class="panel-body">
                    <div class="right">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset"><i class="fa fa-refresh"></i> Reset</button>
                        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSumbit"><i class="fa fa-search"></i> Submit</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="padding-top: 44px;">
                            <div class="form-group">
                                <label class="control-label">Kindly Upload the CSV Here</label>
                                <input type="file" id="csvfile" name="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Kindly Upload the Documents Here</label>
                                <input type="file" id="documentfile" name="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">GHQ Notes on LPO</label>
                                <input style="width:80%; height:50px" type="text" id="ghqnote" name="GhqTicketInvoiceMain" class="form-control">
                               
                            </div>
                        </div>
                        </div>

                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/GhqNtt/fileUpload.js"></script>
