﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<link href="~/css/Custom.css" rel="stylesheet" />
@*<div id="modalForm" class="modal-block modal-block-full mfp-hide">*@
<div id="modalForm" class="modal-block modal-block-lg mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Company Details</h2>
        </header>
        <div class="panel-body">
            <form id="Details-form" class="form-horizontal mb-lg" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Code</label>
                            <input type="text" name="code" id="code" class="form-control" required />
                            <input type="hidden" name="DetailsId" id="detailsId" class="form-control" required />
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Name</label>
                            <input type="text" name="name" id="name" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Address 1</label>
                            <input type="text" name="address" id="address" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Address 2 </label>
                            <input type="text" name="secaddress" id="secaddress" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Address 3</label>
                            <input type="text" name="thirdaddress" id="thirdaddress" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Address 4</label>
                            <input type="text" name="forthaddress" id="forthaddress" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Phone</label>
                            <input type="text" name="phone" id="phone" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Email</label>
                            <input type="text" name="mail" id="mail" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">VAT Reg#</label>
                            <input type="text" name="regno" id="regno" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Invoice Format</label>
                            <select data-plugin-selectTwo class="form-control populate" name="invformat" id="invformat" required>
                                <option value="1">Format-1</option>
                                <option value="2">Format-2</option>
                                <option value="3">Format-3</option>
                                <option value="5">Format-4</option>
                                <option value="4">Format-5</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Currency</label>
                            <input type="text" name="currency" id="currency" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Status</label><br />
                            <div class="switch switch-primary">
                                <input type="checkbox" name="status" id="status" data-plugin-ios-switch checked />
                            </div>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden">
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" id="btnDetails">Update</button>
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<header class="page-header">
    <h2>Corporate List</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="right">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnexport"><i class="fa fa-download"></i> Download</button>
            </div>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Code</label>
                                <input type="text" id="sercode" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" id="sername" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Reg No</label>
                                <input type="text" id="serregno" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Format</label>
                                <select data-plugin-selectTwo class="form-control populate" id="serinvformat">
                                    <option value="" selected="selected">Select All</option>
                                    <option value="1">Format-1</option>
                                    <option value="2">Format-2</option>
                                    <option value="3">Format-3</option>
                                    <option value="5">Format-4</option>
                                    <option value="4">Format-5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Currency</label>
                                <input type="text" id="sercurrencyId" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-corporate" class="table table-bordered table-hover mb-none">
                        </table>
                        <div class="panel-body">
                            <div class="row datatables-footer" id="list-corporate-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Corporate/CorporateLoad.js"></script>
