﻿@model Portal.UI.Models.Corporate.corporateinvoicemodal
@{
    ViewData["Title"] = "View_VerifiedInvoiceDetails";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}
<link href="~/css/Custom.css" rel="stylesheet" />
<div id="modalrm" class="modal-block modal-block-sm mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Remarks</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="list-RmDetails" class="table table-bordered table-hover mb-none">
                </table>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<header class="page-header">
    <h2>Invoice Details</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Lpo#</label>
                                <input type="text" asp-for="lpono" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Lpo Date</label>
                                <input type="text" asp-for="lpodate" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Invoice#</label>
                                <input type="text" asp-for="invoiceno" class="form-control" readonly="readonly">
                                <input type="hidden" asp-for="id" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice Date</label>
                                <input type="text" asp-for="invoicedate" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <br />
                            <div>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btrm">
                                    <i class="fa fa-bookmark"></i>  Remarks
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-InvoiceDetails" class="table table-bordered table-hover mb-none">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Corporate/VerifiedInvoiceDetails.js"></script>


