﻿@{
    Layout = "~/Views/Shared/_MainLayOut.cshtml";

    var value = ViewBag.TotOS;
}
<link href="~/css/Custom.css" rel="stylesheet" />
<header class="page-header">
    <h2>Statement of Accounts</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>Home</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open=""><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="right">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" id="btnreset" ><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="btnexport"><i class="fa fa-download"></i> Export</button>
            </div>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Customer</label>
                                <select data-plugin-selectTwo class="form-control populate" id="sercustomer">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Lpo#</label>
                                <input type="text" id="serlpono" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Invoice#</label>
                                <input type="text" id="serinvoiceno" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Inv From Date</label>
                                <input type="text" id="serinvfromdate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">In To Date</label>
                                <input type="text" id="serinvtodate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Company Code</label>
                                <input type="text" id="companycode" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2" hidden>
                            <div class="form-group">
                                <label class="control-label">Total Outstanding</label>
                                <input type="text" id="totoutstanding" class="form-control" >
                            </div>
                        </div>
                        @*<div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Pay Status</label>
                <select data-plugin-selectTwo class="form-control populate" id="serpaystatus">
                    <option value="0">Select All</option>
                    <option value="2">Paid</option>
                    <option value="1">Not Paid</option>
                </select>
            </div>
        </div>*@
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="separator" />
<div class="row">
    <div class="panel-body">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="list-SoaLoad" class="table table-bordered table-hover mb-none">
                        </table>
                        <div class="panel-body">
                            <div class="row datatables-footer" id="list-SoaLoad-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery-3.5.1.min.js"></script>
<script src="~/assets/javascripts/theme.init.js"></script>
<script src="~/Scripts/Corporate/SoaLoad.js"></script>
